<div class="nav-menu">
    <ul [ngClass]="authClass">
        <li *ngIf="authenticated; else root" [routerLink]="'/dashboard'">Home</li>
        <li>About</li>
        <span *ngIf="authenticated != undefined">
            <li *ngIf="authenticated" [ngClass]="expandedClass">Account</li>
        </span>
        <span *ngIf="authenticated != undefined">
            <li *ngIf="authenticated; else signIn" (click)="signOut()" [ngClass]="expandedClass">Sign Out</li>
        </span>
    </ul>
</div>

<ng-template #signIn>
    <li [routerLink]="'/login'">Sign In</li>
</ng-template>

<ng-template #root>
    <li [routerLink]="''">Home</li>
</ng-template>