ul {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 0;
    width: 200px;
    height: 35px;
    padding: 0.75em;
    padding-left: 0.3em;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: var(--primary-color);
    transition: all 0.4s;
}

.auth-true {
    width: 325px;
}

.auth-false {
    width: 300px;
}

li {
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: var(--primary-color-contrast);
    cursor: pointer;
}

.auth-text {
    transition: all 1s;
}

.expanded-false {
    color: var(--primary-color);
}

.expanded-true {
    color: var(--primary-color-contrast);
}

@media only screen and (max-width: 450px) {
    .auth-false {
        width: 100%;
    }
    .auth-true {
        width: 100%;
    }
}