.login-heading {
    color: var(--primary-color-shade);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
}

.login-heading::after{
    content: '';
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: var(--primary-color-shade);
    width: 15%;
    min-width: 75px;
    max-width: 200px;
    height: 7px;
    margin-top: 12px;
    border-radius: 3px;
    transition: all 0.5s;
}

.register-msg {
    font-size: 18px;
    text-align: center;
    color: var(--primary-color-shade);
}

@media only screen and (max-width: 600px) {
    .register-msg {
        font-size: 14px;
    }
}

@media only screen and (max-width: 550px) {
    .login-heading {
        font-size: 36px;
    }
}

@media only screen and (max-width: 500px) {
    .register-msg {
        font-size: 12px;
    }
}

@media only screen and (max-width: 425px) {
    .login-heading {
        font-size: 24px;
    }

    .login-heading::after {
        height: 4px;
    }
}