.search-input {
    width: 80vw;
    height: 60px;
    max-width: 800px;
    font-size: 2.5em;
    border: solid 3px var(--primary-color-shade)
}

.search-container {
    height: 70px;
    transition: all 0.8s;
}

.expanded {
    height: 400px;
}

.list-header {
    margin-top: 10px;
    font-size: 36px;
    color: var(--primary-color-shade);
    font-weight: bold;
}

.list-content {
    width: 100%;
    overflow-x: auto;
}

@media only screen and (max-width: 600px) {
    .expanded {
        height: 325px;
    }
}



@media only screen and (max-width: 425px) {
    .search-input {
        font-size: 1.75em;
    }
}

@media only screen and (max-width: 410px) {
    .list-header {
        font-size: 26px;
    }
}

@media only screen and (max-width: 400px) {
    .expanded {
        height: 250px;
    }
}

@media only screen and (max-width: 325px) {
    .list-header {
        font-size: 20px;
    }
}