<div class="anime-search">
    <div [ngClass]="containerClass">
        <input #input class="search-input" type="text" placeholder="Search for an anime">
        <div class="search-results" *ngIf="searchResults != null">
            <h2 class="list-header">Here's what we found:</h2>
            <div class="list-content" fxLayout="row">
                <app-content-card
                *ngFor="let anime of searchResults; let i = index"
                [index]="i"
                [anime]="anime"></app-content-card>
            </div>
        </div>    
    </div>
</div>