<div class="anime-search">
    <div [ngClass]="containerClass">
        <input #input class="search-input" type="text" placeholder="Search for an anime">
        <div class="search-results" *ngIf="searchResults != null">
            <h2>Here's what we found:</h2>
            <div class="dash-section-content" *ngFor="let anime of searchResults; let i = index">
                <app-content-card
                [index]="i"
                [anime]="anime"></app-content-card>
            </div>
        </div>    
    </div>
</div>