.search-input {
    width: 800px;
    height: 60px;
    font-size: 2.5em;
    border: solid 3px var(--primary-color-shade)
}

.search-container {
    height: 70px;
    transition: all 0.8s;
}

.expanded {
    height: 450px;
}

.dash-section-content {
    display: inline-flex;
}