.content-details-page {
    display: flex;
    flex-direction: row;
    margin: 10vh auto;
    width: 90vw;
    height: 85vh;
}

.content-details {
    width: 47.5%;
    height: 100%;
    display: grid;
    grid-template-columns: 299px 1fr;
    grid-template-rows: repeat(8, 52.125px);
}

.immersion-details {
    width: 47.5%;
    height: 100%;
    margin-left: auto;
}

.content-poster {
    grid-row: 1 / span 2;
    margin-left: 15px;
    margin-top: 10px;  
}
.content-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    grid-row: 1 / span 2;
}
.content-description {
    margin-top: 0px;
    padding: 15px;
    overflow: hidden;
    grid-column: 2;
    grid-row: 3 / span 6;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-description::-webkit-scrollbar {
    display: none;
}

.immersion-title {
    text-transform: uppercase;
    text-align: center;
}

.immersion-graph {
    width: 95%;
    height: 45%;
}

input {
    height: 25px;
    font-size: 1.3em;
    background-color: #fff;
}

::ng-deep .mat-form-field {
    margin-right: 5px !important;
}

::ng-deep .mat-form-field-label, .mat-focused .mat-form-field-label {
    color: var(--primary-color) !important;
    font-size: 1.5em !important;
    margin-bottom: 5px;
}
::ng-deep .mat-form-field-flex {
    width: 200px !important;
}

.length-input {
    width: 50px !important;
}

.date-input {
    width: 300px !important;
}

.google-chart{
    width: 100%;
    height: 90%;
}

.entries-container {
    margin-top: 10px;
}

.entry-list, .entry-form {
    transition: all 1s;
}

.entry-form {
    scrollbar-width: none;
}

.entry-list {
    max-height: 150px;
}

.entry-form::-webkit-scrollbar {
    display: none;
}

.hidden {
    height: 0;
    overflow: hidden;
}

.active {
    height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.entry-toggle-links span {
    margin: 5px;
}

.entry-list-toggle, .entry-form-toggle {
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
}

ul {
    padding: 0 10px;
    width: 250px;
    font-size: 16px;
}

button {
    background-color: var(--primary-color) !important;
}