.content-details-page {
    height: 50vh;
}

.content-poster {
    max-height: 402px;
}

.content-titles {
    height: 15%;
}

.content-text {
    height: 90%;
}

.content-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--primary-color-shade);
    font-weight: bold;
}
.content-description {
    font-size: 1.5em;
    padding: 15px;
    height: 70%;
    overflow: scroll;
}

.content-description::-webkit-scrollbar {
    display: none;
}


.immersion-title {
    text-transform: uppercase;
    color: var(--primary-color-shade);
    font-weight: bold;
}

.immersion-graph {
    width: 95%;
    height: 45%;
}

input {
    height: 25px;
    font-size: 1.3em;
    background-color: #fff;
}

::ng-deep .mat-form-field {
    margin-right: 5px !important;
}

::ng-deep .mat-form-field-label, .mat-focused .mat-form-field-label {
    color: var(--primary-color) !important;
    font-size: 1.5em !important;
    margin-bottom: 5px;
}
::ng-deep .mat-form-field-flex {
    width: 200px !important;
}

.length-input {
    width: 50px !important;
}

.date-input {
    width: 300px !important;
}

.google-chart{
    width: 80%;
    height: 90%;
    max-width: 500px;
}

#google-visualization-errors-all-1 {
    display: none;
}

.entries-container {
    margin-top: 10px;
}

.entry-list, .entry-form {
    transition: all 1s;
}

.entry-form {
    scrollbar-width: none;
}

.entry-list {
    max-height: 150px;
}

.entry-form::-webkit-scrollbar {
    display: none;
}

.hidden {
    height: 0;
    overflow: hidden;
}

.active {
    height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.entry-toggle-links span {
    margin: 5px;
}

.entry-list-toggle, .entry-form-toggle {
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
}

ul {
    padding: 0 10px;
    width: 250px;
    font-size: 16px;
}

button {
    background-color: var(--primary-color) !important;
}

@media only screen and (max-width: 400px) {
    .google-chart {
        max-width: 320px;
        width: 95%;
        margin-left: -15px;
    }

    .entry-list-toggle, .entry-form-toggle {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 800px) {
    .content-description {
        font-size: 1em;
        padding: 10px;
        height: 75%;
        margin-top: 20px;
    }

    .content-title, .immersion-title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1368px) {
    .content-details-page {
        height: 90vh;
    }
}

@media only screen and (max-width: 1600px) {
    .content-description {
        font-size: 1.2em;
    }

    .immersion-details, .immersion-graph {
        margin-left: auto;
        margin-right: auto;
    }

    .immersion-graph {
        height: 80%;
    }
}

