.content-card {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    margin: 10px;
    background-size: 200px;
}

.content-title {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 5px;
}

.content-card-internal {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: rgba(0,0,0,0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    position: relative;
}

.content-card:hover .content-card-internal {
    visibility: visible;
    opacity: 1;
}

.content-description {
    margin-top: 0;
    color: white;
    height: 53%;
    width: 90%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 5%;
    padding-right: 5%;
}

.content-description::-webkit-scrollbar {
    display: none;
}

.buttons-container {
    display: flex;
    width: 90%;
    padding: 0 5%;
    position: absolute;
    bottom: 15px;
}

.content-card-button {
    height: 40px;
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 2px;
    font-size: 0.8rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    border: solid 4px white;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    transition: all 0.5s;
}

.content-card-button:hover {
    background: rgba(0,0,0,0.9);
}

@media only screen and (max-width: 600px) {
    .content-card {
        width: 150px;
        height: 200px;
    }

    .content-description {
        font-size: 0.9em;
    }

    .content-card-button {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 400px) {
    .content-card {
        width: 125px;
        height: 175px;
    }

    .content-card-button {
        font-size: 0.6em;
    }

    .content-card-button {
        border: solid 2px white;
        height: 20px;
    }
}