<div class="content-browser">
    <app-anime-search></app-anime-search>
    <div class="lists-container">
        <section class="list-section" id="best-current">
            <div>
                <h2 class="list-header">Top Current Anime</h2>
            </div>
            <div class="list-content" *ngFor="let anime of topCurrentAnime; let i = index">
                <app-content-card
                [index]="i"
                [anime]="anime"
                (animeUpdated)="onAnimeUpdated($event)"
                ></app-content-card>
            </div> 
        </section>
        <section class="list-section" id="highest-rated">
            <div>
                <h2 class="list-header">Highest Rated Anime</h2>
            </div>
            <div class="list-content" *ngFor="let anime of highestRatedAnime; let i = index">
                <app-content-card 
                [index]="i"
                [anime]="anime"
                (animeUpdated)="onAnimeUpdated($event)"
                ></app-content-card>
            </div>
        </section>
        <section class="list-section" id="popular">
            <div>
                <h2 class="list-header">Most Popular Anime</h2>
            </div>
            <div class="list-content" *ngFor="let anime of popularAnime; let i = index">
                <app-content-card 
                [index]="i"
                [anime]="anime"
                (animeUpdated)="onAnimeUpdated($event)"
                ></app-content-card>
            </div>
        </section>
    </div>
</div>
