.lists-container {
    margin-top: 10px;
}

.list-header {
    font-size: 36px;
    color: var(--primary-color-shade);
    font-weight: bold;
}

.list-section {
    margin: 40px 0;
}

.list-content {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

@media only screen and (max-width: 410px) {
    .list-header {
        font-size: 28px;
    }
}

@media only screen and (max-width: 325px) {
    .list-header {
        font-size: 22px;
    }
}

