.lists-container {
    margin-top: 10px;
}

.list-header {
    font-size: 36px;
    color: var(--primary-color-shade);
    font-weight: bold;
}
.list-content {
    display: inline-flex;
}

.list-section {
    margin: 40px 0;
}
