<div class="dashboard">
    <section class="popular">
        <div class="dash-section-header">
            <h2>Popular Anime</h2>
        </div>
        <div class="dash-section-content" *ngFor="let anime of popularAnime; let i = index">
            <app-content-card 
            [index]="i"
            [anime]="anime"></app-content-card>
        </div>
    </section>
    <section class="Watching Now">
        <div class="dash-section-header">
            <h2>Watching Now</h2>
        </div>
        <div class="dash-section-content" *ngFor="let anime of watchingAnime; let i = index">
            <app-content-card 
            [index]="i"
            [anime]="anime"
            (removeFromWatching)="onRemoveAnime($event)"></app-content-card>
        </div>
    </section>
</div>