<div class="dashboard">
    <section class="anime-search">
        <app-anime-search [watchingAnime]="watchingAnime"></app-anime-search>
    </section>
    <section class="popular">
        <div class="dash-section-header">
            <h2>Popular Anime</h2>
        </div>
        <div class="dash-section-content" *ngFor="let anime of popularAnime; let i = index">
            <app-content-card 
            [index]="i"
            [anime]="anime"
            [watchingAnime]="watchingAnime"
            (removeFromWatching)="onWatchingAnimeUpdate()"
            (addToWatching)="onWatchingAnimeUpdate()"></app-content-card>
        </div>
    </section>
    <section class="Watching Now">
        <div class="dash-section-header">
            <h2>Watching Now</h2>
        </div>
        <div class="dash-section-content" *ngFor="let anime of watchingAnime; let i = index">
            <app-content-card 
            [index]="i"
            [anime]="anime"
            (removeFromWatching)="onWatchingAnimeUpdate()"></app-content-card>
        </div>
    </section>
    <section class="Recommended">
        <div class="dash-section-header">
            <h2>Recommended Anime</h2>
        </div>
        <div class="dash-section-content">

        </div>
    </section>
</div>